<div class="content" #contentReference>
      <div class="github-links">
        <a href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/websockets/guards.md" aria-label="Suggest Edits" title="Suggest Edits">
          <i class="material-icons" aria-hidden="true" role="img">mode_edit</i>
        </a>
      </div>
      <h3 id="guards">Guards</h3>
<p>There is no difference between web sockets <strong>guards</strong> and the <a routerLink="/guards">regular guards</a>. The only thing you should be aware of is that instead of throwing <code>HttpException</code>, you should use the <code>WsException</code>.</p>
<blockquote class="
info "><strong>Hint</strong> The <code>WsException</code> class is exposed from <code>@nestjs/websockets</code> package.
</blockquote>
<h4 appAnchor id="binding-guards"><span>Binding guards</span></h4>
<p>Here is an example that makes use of a method-scoped guard (class-scoped works too):</p>

<span class="filename">
<app-tabs #app1b01bd89f6fb57a34ef528161a1e683e352deb20></app-tabs>
</span><pre [class.hide]="app1b01bd89f6fb57a34ef528161a1e683e352deb20.isJsActive"><code class="language-typescript">
@UseGuards(AuthGuard)
@SubscribeMessage(&#39;events&#39;)
handleEvent(client: Client, data: unknown): WsResponse&lt;unknown&gt; &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;</code></pre>
<pre [class.hide]="!app1b01bd89f6fb57a34ef528161a1e683e352deb20.isJsActive"><code class="language-typescript">
@UseGuards(AuthGuard)
@SubscribeMessage(&#39;events&#39;)
handleEvent(client, data) &#123;
  const event = &#39;events&#39;;
  return &#123; event, data &#125;;
&#125;</code></pre>
    </div>
